<div class="main-div">
  <!-- Only display the title when not in detail view -->
  <h2 class="page-title" *ngIf="!isDetailView">Caddix<hr></h2>

  <div class="add-list-button" *ngIf="!showForm && !isDetailView">
    <button mat-fab extended (click)="toggleForm()">
      <mat-icon>add</mat-icon>
      Add New List
    </button>
  </div>

  <!-- Add New List Form -->
  <div class="add-list-container" *ngIf="showForm && !isDetailView">
    <h3>Add New List</h3>
    <form class="example-form">
      <mat-form-field class="example-full-width">
        <mat-label>List Name</mat-label>
        <input matInput #listName placeholder="Enter list name" />
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-label>List Description</mat-label>
        <textarea matInput #listDescription placeholder="Enter list description"></textarea>
      </mat-form-field>

      <div class="form-actions">
        <button mat-raised-button color="primary"(click)="addList(listName.value, listDescription.value); listName.value=''; listDescription.value=''; toggleForm()">
          Save
        </button>
        <button mat-raised-button (click)="toggleForm()">Cancel</button>
      </div>
    </form>
  </div>

  <div *ngIf="!isDetailView" class="list-container">
    <mat-grid-list [cols]="cols" rowHeight="200px">
      <mat-grid-tile *ngFor="let list of lists">
        <mat-card class="list-card">
          <a [routerLink]="['/list', list.id]" class="list-link">
            <mat-card-title>
              <div class="card-header">
                <span>{{ list.name }}</span>
                <button mat-icon-button (click)="deleteList(list.id)">
                  <mat-icon>delete</mat-icon>
                </button>
              </div>
            </mat-card-title>
            <mat-card-content>{{ list.description }}</mat-card-content>
          </a>
        </mat-card>
      </mat-grid-tile>
    </mat-grid-list>
  </div>

  <router-outlet></router-outlet>
</div>
